<div class="doc-container">
  <mat-toolbar color="primary" class="doc-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="doc-app-name">Responsive App</h1>
  </mat-toolbar>
  <mat-sidenav-container class="doc-sidenav-container">
    <mat-sidenav #snav class="doc-sidenav" mode="side">
      <mat-nav-list>
        <mat-list-item>
          <a matLine routerLink=".">Introduction</a>
        </mat-list-item>
        <mat-list-item>
          <a matLine routerLink=".">Features</a>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <span>Understanding the language</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button>
            <span>The importance</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
